*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.navbar{
    display:flex;
    align-items: center;
    padding: 20px;
}

/* nav{
    flex: 1;
    text-align:right;

}

nav ul{
    display:inline-block;
    list-style-type: none;

}

nav ul li{
    display: inline-block;
    margin-right:20px;
} */
nav{
    flex: 1;
    text-align:right;

}

nav ul{
    display:inline-block;
    list-style-type: none;
    

}

nav ul li{
    display: inline-block;
    margin-right:20px;
}

a{
    text-decoration: none;
    color:#555;

}
nav ul li a:hover{
    color:white;
    text-decoration: underline;
    font-size: x-large;
}


.header{
    background: radial-gradient(#fff,#f2aeae);
}

a{
    text-decoration: none;
    color:white;

}
/* ................ */
.products{
    display: grid;
    margin:30px 10px 30px 10px;
    padding:12px 12px 12px 0px;
    background-color: rgb(244, 246, 248);
    width:1020px;
    height: 450px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    
}
#abc{
    margin-top: 20px;
    margin-bottom: 20px;
}

.details{
    
    margin-bottom:50px;
    margin-left:550px;
}



.price{
    font-size: larger;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 20px 0 50px 0;
}

.colour{
    margin: 20px 0 20px 0;
   
}

.features{
    margin: 20px 0px 20px 0;
}

.product-cards{
    padding:10px  20px 10px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.image{
    position:absolute;
    margin-top: 0px;
    margin-right: 40px;
    margin-left: 50px;
    float: left;
    width:270px;
    height: 450px ;
    
    border-radius: 10px;
    transition: transform .2s;
}

.image:hover{
    transform: scale(1.1);
}


   
.cart{
  
    margin: 40px 20px 30px 0;
    border: none;
    outline: 0;
    padding: 15px;
    color: white;
    background-color: rgb(47, 41, 41);
    text-align: center;
    cursor: pointer;
    width: 50%;
    font-size: 18px;
    border-radius: 50px;
}
.title{
    font-family: 'Acme', sans-serif;
    margin: 20px 0 20px 0;
    font-size: 17px;
   
    color: rgb(90, 53, 8);
}